
<nav>
    <div class="logo">
        <img src="images/logo.png" alt="Logo anillo de bodas">
    </div>
    <ul>
        <li><a [routerLink]="['/inicio']" routerLinkActive="router-link-active">Inicio</a></li>
        <li><a [routerLink]="['/diseños']" routerLinkActive="router-link-active">Diseños</a></li>
        <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog</a></li>
        <li><a [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a></li>
    </ul>
</nav>

