nav {
    background-color:#F8F8F8; 
    color:#2C2C2C;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo img{
        width: 40px;
        height: auto;
    }
  
    ul {
      list-style: none;
      gap: 30px;
      margin: 0;
      padding: 0;

  
      li {
        display: inline-block;
  
        a {
          text-decoration: none;
          color: rgb(71, 71, 71);
          font-family: "Crimson Text", serif;
          font-weight: 500;
          font-style: normal;
          font-weight: bold;
          padding: 10px 15px;
          font-size: 22px;
  
          &:hover {   // `&:hover` es equivalente a `a:hover`, permite anidar estilos dentro del mismo selector
            color:#8C7851;
          }
  
          &.router-link-active { // `.router-link-active` se aplica automáticamente cuando el enlace está activo
            color: #E6AFA3; 
          }
        }
      }
    }
  }
  
  // .poppins-extralight-italic {
  //   font-family: "Poppins", serif;
  //   font-weight: 200;
  //   font-style: italic;
  // }