
<section class="container-design">
    <h2>Nuestros Diseños Exclusivos de Invitaciones de Boda</h2>
    <p>¡Bienvenidos a nuestra galería de invitaciones digitales, donde cada diseño cuenta una historia única! Sabemos que cada boda es especial, y por eso creamos invitaciones que reflejan tu estilo y personalidad. Aquí puedes explorar algunos de nuestros diseños más populares, pero recuerda, ¡cada invitación es completamente personalizable!</p>
    <p>Ya sea que busques algo moderno, clásico, romántico o divertido, tenemos el diseño perfecto para ti. Puedes elegir entre diferentes temáticas, colores y estilos, y adaptarlo a tu boda. Desde invitaciones minimalistas hasta aquellas con detalles elegantes y vibrantes, lo importante es que sea <strong>TU boda, TU estilo</strong>.</p>

    <h2>¿Cómo Funciona?</h2>
    <ul>
        <li><i class="fas fa-heart"></i> <strong>Personalización Total:</strong> Elige el diseño que más te guste y personalízalo con tus colores, nombres, fecha y cualquier detalle especial que quieras agregar.</li>
        <li><i class="fas fa-heart"></i> <strong>100% Digital:</strong> Recibe tu invitación digital lista para compartir. ¡Nada de preocupaciones por el papel ni los costos de impresión!</li>
        <li><i class="fas fa-heart"></i> <strong>Ideal para Compartir:</strong> Fácil de enviar a tus seres queridos por correo electrónico, WhatsApp o redes sociales.</li>
    </ul>
</section>

<div class="mobile-mockup">
    <div class="slider-container">
      <div #slider class="slider">
        <div class="slider-item">
            <img src="images/mobile.png" alt="Mockup de móvil" class="mockup-image">
            <button class="view-button">Ver diseño</button>
        </div>
        <div class="slider-item">
            <img src="images/mobile.png" alt="Mockup de móvil" class="mockup-image">
            <button class="view-button">Ver diseño</button>
        </div>
        <div class="slider-item">
            <img src="images/mobile.png" alt="Mockup de móvil" class="mockup-image">
            <button class="view-button">Ver diseño</button>  
        </div>
      </div>
    </div>

<button class="prev floating-btn" (click)="moveSlide(-1)">
    <span>&#10094;</span>
</button>
<button class="next floating-btn" (click)="moveSlide(1)">
    <span>&#10095;</span>
</button>


  

