
.container-design{

	h2{
		font-size: 40px;
		font-family: "Crimson Text", serif;
		font-weight: bold;
		color: #b93e66;
		text-align: center;
	}

	p{
		font-size: 23px;
		font-family: "Crimson Text", serif;
		font-weight: bold;
		color: #797A73;
		text-align: center;
		padding: 0 40px;
	}

	h3{
		font-size: 35px;
		font-family: "Crimson Text", serif;
		font-weight: bold;
		color: #b93e66;
		text-align: center;
	}

	ul {
		list-style-type: none; /* Quita los puntos */
		font-size: 23px;
		font-family: "Crimson Text", serif;
		font-weight: bold;
		color: #797A73;
		text-align: center;
		display: flex;
		flex-direction: column; 
		gap: 20px;	
	}
	
	li {
		text-align: left; 
		padding: 0 40px;
	}
	

	.fas {
		color: #ff6347; 
		font-size: 20px; 
		margin-right: 10px; 
	}
	
}


.mobile-mockup {
	position: relative;
	width: 300px;
	margin: auto;
	overflow: hidden;
}

.slider-container {
	display: flex;
	width: 100%;
}
.slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
}
.slider-item {
	min-width: 100%;
	position: relative; /* Asegura que el botón se posicione dentro de cada imagen */
}
.mockup-image {
	width: 100%;
	display: block;
}

.view-button{
	position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 240%);
    background: #b93e66;
	opacity: 90%;
    color: white;
    border: none;
    padding: 7px 18px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.view-button:hover{
	background-color:#ff4081;
}

.floating-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-5%);
    background: #b93e66;
	opacity: 70%;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out;
}

.floating-btn:hover {
    background: #ff4081;
    transform: scale(1.1);
}

.prev { left: 10px; }
.next { right: 10px; }


