<div class="section">
    <img src="images/home.png" alt="Foto de Inicio">

    <div class="home-introduction">
        <h1>Bienvenido a LoveBites</h1>
        <p>Con LoveBites, crear la web de tu boda nunca fue tan fácil. Ofrecemos una plataforma completa para diseñar y gestionar tu invitación de boda digital. Personaliza el diseño a tu gusto, gestiona las confirmaciones de asistencia, comparte fotos y detalles de tu gran día, y mucho más.</p>
        <p>Tu boda es única, y tu invitación también debería serlo. ¡Hazla a tu medida!</p>
    </div>

    <div class="home-body">
        <h2>Lo que encontrarás en tu web de boda</h2>
        <ul>
            <li><strong><div class="check-color">✔ </div> Diseños personalizables:</strong> Elige entre varias plantillas y personalízalas a tu estilo.</li>
            <li><strong><div class="check-color">✔ </div>Confirmación de asistencia:</strong> Recibe confirmaciones de tus invitados directamente en la plataforma.</li>
            <li><strong><div class="check-color">✔ </div> Galería de fotos:</strong> Comparte recuerdos y fotos con tus seres queridos.</li>
            <li><strong><div class="check-color">✔ </div> Lista de bodas:</strong> Crea y comparte una lista de regalos para que tus invitados elijan el detalle perfecto.</li>
            <li><strong><div class="check-color">✔ </div> Información esencial:</strong> Incluye todos los detalles importantes como ubicación, horarios y cómo llegar a la boda.</li>
        </ul>
        <button>Comienza tu web</button>
    </div>
</div>



