<div class="section">
    <img src="images/home.png" alt="Imagen home" class="home-image"/>
    <div class="home-container">
        <div class="text-content">
            <h1 class="animated-title">Haz de tu invitación el inicio de algo mágico</h1>
        </div>
        <div class="phone-container">
            <img src="images/mobile.png" alt="Ejemplo de invitación" class="scrolling-phone">
        </div>
    </div>
</div>

<!-- Sección Diseños -->
<section id= "disenos">
    <app-disenos></app-disenos>
</section>

<!-- Sección Blog -->
<section id= "blog">
    <app-blog></app-blog>
</section>

<!-- Sección Contacto -->
<section id= "contact">
    <app-contact></app-contact>
</section>




